body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header, footer {
    padding: 12% 0;
}

header, footer, nav {
    margin: 8% 0;
}

header, footer {
    background-color: blanchedalmond;
}

section{
    padding: 3%;
}

section, li {
    border: 5% dashed black;
}

nav li {
    background-color: aquamarine;
    padding: 3%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item{
    padding:0%;
    background-color: beige;
}

.item-type-a {
    padding-top: 45%;
    background-color: orange;
}

.item-type-b {
    padding-top: 45%;
    background-color: orange;
}

.item-inner {
    padding: 12% 0;
    background-color: rgb(107, 99, 99);
}

@media screen and (min-width: 600px){
    body{
        width: 80%;
        margin: 0 auto;
    }
}

.container-main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-nav {
    display: grid;
}