@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --primary-clr: rgba(228, 228, 229, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.swiper-wrapper{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

body{
  position:inherit;
  display:flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center; 
  min-height: 100vh;
  width: 100%;
  font-family:"Nunito", sans-serif;
  color: #d9d9d9;
  text-shadow: 3px 3px 5px #231833;
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/8727c9b1-be21-4932-a221-4257b59a74dd);
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  animation: slidein 120s forwards infinite alternate;
}
@keyframes slidein {
  0%,
  100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}


