
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 5px #676767;
}

header{
  padding: 5px 0;
}
footer {
  padding: 20px 0;
}
header, footer, nav {
  margin: 20px 0;
}

header, footer {
  background-color: blanchedalmond;
  box-shadow: 5px 5px 5px #1E1E1E;
}

section{
  padding: 10px;
}

nav li{
  background-color: aquamarine;
  padding: 10px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #828282;
}

a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: #060235;
}
a:hover {
  color: #126ec0;
}
a:active {
  color: indigo;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

/* search bar styles */
button, input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}
input{
  background:#1E1E1E;
}
.search-bar{
  display: flex;
  
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
  
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto auto auto 50%;
  padding: 1em;
  justify-content:right;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: aquamarine;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #cbc7a7;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}
/* end of search bar styles */
.item{
  grid-column: span 6;
  padding:0%;
  background-color: beige;
  box-shadow: 5px 5px 5px #1E1E1E;
}

.item-type-a {
  padding-top: 45%;
  background-color: orange;
}

.item-type-b {
  padding-top: 45%;
  background-color: orange;
}

.item-inner {
  grid-column:span 3;
  padding: 25px 0;
  background-color: rgb(107, 99, 99);
}

.container-main{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
 
}

.container-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  box-shadow: 5px 5px 5px #1E1E1E;
}

.container-nav {
  display: grid;
  grid-gap: 5px;
}
/* Carousel */
 .carousel {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  overflow:hidden;
  height: 85vh;
  box-shadow: 5px 5px 5px #828282;
}

/* End of Carousel */
/* Font Awesome Icon */
.fa-border{
  padding: 15px;
  border-color: blanchedalmond;
}
@media screen and (min-width: 600px){
  
  body {
     width: 80%;
     margin: 0 auto;
  }
  .container-nav{
   grid-auto-flow: column;
  }
  nav li {
    margin-bottom: 2%;
  }
  .item-type-b {
    grid-column: span 3;
  }
   
  .item-inner{
    grid-column: span 1;
  }
}
@media screen and (min-width: 900px){
  .container-main{
    grid-auto-flow: column;
  }

  nav li {
    background-color: aquamarine;
    display: inline-block;
    margin-left: 60px;
    padding-top: 5px;
    padding-right: 175px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .item{
    grid-column: span 2;
    grid-row: span 2;
  }
  .item-type-b {
    grid-row: span 1;
  }
  .item-inner {
    grid-column: span 3;
  }
}
  

