/* #root {
 
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
} */

/* my styling */
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header, footer {
  padding: 25% 0;
}

header, footer, nav {
  margin: 5% 0;
}

header, footer {
  background-color: blanchedalmond;
}

section{
  padding: 50%;
}

section, li {
  border: 5% dashed black;
}

nav li {
  background-color: aquamarine;
  padding: 2%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item{
  padding:0%;
  background-color: beige;
}

.item-type-a {
  padding-top: 2%;
  background-color: orange;
}

.item-type-b {
  padding-top: 2%;
  background-color: orange;
}

.item-inner {
  padding: 75% 0;
  background-color: rgb(107, 99, 99);
}

@media screen and (min-width: 600px){
  body{
    width: 80%;
    margin: 0 auto;
  }
}

.container-main{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.container-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-nav {
  display: grid;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */