/* working color scheme
  #371F5B;
  #2E1A4B;
  #A63BA9;
  #433BA9;
  #4F2D83;
   */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --primary-clr: rgba(228, 228, 229, 1);
}

body{
  font-family:"Nunito", sans-serif;
  color: #d9d9d9;
  text-shadow: 3px 3px 5px #231833;
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/8727c9b1-be21-4932-a221-4257b59a74dd);
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  animation: slidein 120s forwards infinite alternate;
}
@keyframes slidein {
  0%,
  100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}

/* header and footer */
header{
  padding: 2px 0;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px #A63BA9;
}
footer {
  padding: 60px 0;
}
header, footer{
  margin-top: 20px;
  border-radius: 20px;
}

.fa-border{
  padding: 30px;
  color: rgb(77, 31, 103);
  border-color: rgb(38, 16, 50, 0.0);
}

/* end of header and footer styles */

/* nav styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

nav li{
  display: inline;
  padding: 30px;
  text-decoration: none;
}
.item-type-b {
 padding-top: 20px;
}
/* nav styles end */

a:link {
  color:inherit;
  text-decoration: none;
}
a:visited {
  color: #d9d9d9;
}
a:hover {
  color: #126ec0;
}
a:active {
  color: indigo;
}

.item{
  grid-column: span 4;
  padding:0%;
  border-radius: 20px;
}

.item-type-a {
  box-shadow: 5px 5px 5px #A63BA9;
  padding-top: 2%;
  -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0,0,0, 0.4));  
}


.container-main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.container-nav {
  display: grid;
  grid-gap: 5px;
}
/* Carousel */
.carousel {
  display: grid; 
  grid-template-columns: 1fr;
  grid-gap: 10px; 
  overflow:hidden;
  height: 50vh;
  border-radius: 20px;
}

/* End of Carousel */
@media screen and (min-width: 600px){
  
  body {
    width: 80%;
    margin: 0 auto; 
  } 

  nav li {
    margin-bottom: 5%;
  }
  .item-type-b {
    grid-column: span 1;
    padding-top: 150px;
    box-shadow: 5px 5px 5px #A63BA9;

  }
  .carousel{
    height: 70vh;
  }
  .footer{
    padding: 40px 0;
  }
  
  .iconsDiv{
    margin-left: 75%;
  }
 
}
@media screen and (min-width: 900px){
  
  nav li {
    background-color: #433BA9;
    box-shadow: 5px 5px 5px #A63BA9;
    display: inline-block;
    margin-left: 60px;
    padding-top: 5px;
    padding-right: 175px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .item{
    grid-column: span 2;
    grid-row: span 2;
  }
  .fa-border{
    padding: 15px;
  }
}
  

